body {
	width:60%;
	background-color:black;
	margin:auto;
	color:white;
	font-family:Times New Roman,Arial,Roboto
}

#nav {
	width:100%;
	text-align:center;
	border-top:1px solid white;
	border-bottom:1px solid white
}

#title {
	float:left;
	margin-right:10px
}

.cell {
	border:1px solid white;
	text-align:center;

}

a,a:link,a:visited {
	text-decoration:none;
	color:white
}

a:hover {
	background-color:white;
	color:black;
	width:100%
}